@font-face {
  font-family: 'cryptocoins';
  src:  url('../fonts/cryptocoins.eot?d2eit9');
  src:  url('../fonts/cryptocoins.eot?d2eit9#iefix') format('embedded-opentype'),
    url('../fonts/cryptocoins.ttf?d2eit9') format('truetype'),
    url('../fonts/cryptocoins.woff?d2eit9') format('woff'),
    url('../fonts/cryptocoins.svg?d2eit9#cryptocoins') format('svg');
  font-weight: normal;
  font-style: normal;
}

i.cc {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cryptocoins' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

i.cc.SAR:before {
  content: "\e900";
}
i.cc.SAR-alt:before {
  content: "\e901";
}
i.cc.SCOT:before {
  content: "\e902";
}
i.cc.SCOT-alt:before {
  content: "\e903";
}
i.cc.SDC:before {
  content: "\e904";
}
i.cc.SDC-alt:before {
  content: "\e905";
}
i.cc.SIA:before {
  content: "\e906";
}
i.cc.SIA-alt:before {
  content: "\e907";
}
i.cc.SJCX:before {
  content: "\e908";
}
i.cc.SJCX-alt:before {
  content: "\e909";
}
i.cc.SLG:before {
  content: "\e90a";
}
i.cc.SLG-alt:before {
  content: "\e90b";
}
i.cc.SLS:before {
  content: "\e90c";
}
i.cc.SLS-alt:before {
  content: "\e90d";
}
i.cc.SNRG:before {
  content: "\e90e";
}
i.cc.SNRG-alt:before {
  content: "\e90f";
}
i.cc.START:before {
  content: "\e910";
}
i.cc.START-alt:before {
  content: "\e911";
}
i.cc.STEEM:before {
  content: "\e912";
}
i.cc.STEEM-alt:before {
  content: "\e913";
}
i.cc.STR:before {
  content: "\e914";
}
i.cc.STR-alt:before {
  content: "\e915";
}
i.cc.STRAT:before {
  content: "\e916";
}
i.cc.STRAT-alt:before {
  content: "\e917";
}
i.cc.SWIFT:before {
  content: "\e918";
}
i.cc.SWIFT-alt:before {
  content: "\e919";
}
i.cc.SYNC:before {
  content: "\e91a";
}
i.cc.SYNC-alt:before {
  content: "\e91b";
}
i.cc.SYS:before {
  content: "\e91c";
}
i.cc.SYS-alt:before {
  content: "\e91d";
}
i.cc.TX:before {
  content: "\e91e";
}
i.cc.TX-alt:before {
  content: "\e91f";
}
i.cc.UNITY:before {
  content: "\e920";
}
i.cc.UNITY-alt:before {
  content: "\e921";
}
i.cc.USDT:before {
  content: "\e922";
}
i.cc.USDT-alt:before {
  content: "\e923";
}
i.cc.VIOR:before {
  content: "\e924";
}
i.cc.VIOR-alt:before {
  content: "\e925";
}
i.cc.VNL:before {
  content: "\e926";
}
i.cc.VNL-alt:before {
  content: "\e927";
}
i.cc.VPN:before {
  content: "\e928";
}
i.cc.VPN-alt:before {
  content: "\e929";
}
i.cc.VRC:before {
  content: "\e92a";
}
i.cc.VRC-alt:before {
  content: "\e92b";
}
i.cc.VTC:before {
  content: "\e92c";
}
i.cc.VTC-alt:before {
  content: "\e92d";
}
i.cc.XAI:before {
  content: "\e92e";
}
i.cc.XAI-alt:before {
  content: "\e92f";
}
i.cc.XBS:before {
  content: "\e930";
}
i.cc.XBS-alt:before {
  content: "\e931";
}
i.cc.XCP:before {
  content: "\e932";
}
i.cc.XCP-alt:before {
  content: "\e933";
}
i.cc.XEM:before {
  content: "\e934";
}
i.cc.XEM-alt:before {
  content: "\e935";
}
i.cc.XMR:before {
  content: "\e936";
}
i.cc.XPM:before {
  content: "\e937";
}
i.cc.XPM-alt:before {
  content: "\e938";
}
i.cc.XRP:before {
  content: "\e939";
}
i.cc.XRP-alt:before {
  content: "\e93a";
}
i.cc.XVG:before {
  content: "\e93b";
}
i.cc.XVG-alt:before {
  content: "\e93c";
}
i.cc.YBC:before {
  content: "\e93d";
}
i.cc.YBC-alt:before {
  content: "\e93e";
}
i.cc.ZEIT:before {
  content: "\e93f";
}
i.cc.ZEIT-alt:before {
  content: "\e940";
}
i.cc.MAID:before {
  content: "\e941";
}
i.cc.MAID-alt:before {
  content: "\e942";
}
i.cc.MINT:before {
  content: "\e943";
}
i.cc.MINT-alt:before {
  content: "\e944";
}
i.cc.MONA:before {
  content: "\e945";
}
i.cc.MONA-alt:before {
  content: "\e946";
}
i.cc.MRC:before {
  content: "\e947";
}
i.cc.MSC:before {
  content: "\e948";
}
i.cc.MSC-alt:before {
  content: "\e949";
}
i.cc.MTR:before {
  content: "\e94a";
}
i.cc.MTR-alt:before {
  content: "\e94b";
}
i.cc.MUE:before {
  content: "\e94c";
}
i.cc.MUE-alt:before {
  content: "\e94d";
}
i.cc.NBT:before {
  content: "\e94e";
}
i.cc.NEOS:before {
  content: "\e94f";
}
i.cc.NEOS-alt:before {
  content: "\e950";
}
i.cc.NEU:before {
  content: "\e951";
}
i.cc.NEU-alt:before {
  content: "\e952";
}
i.cc.NLG:before {
  content: "\e953";
}
i.cc.NLG-alt:before {
  content: "\e954";
}
i.cc.NMC:before {
  content: "\e955";
}
i.cc.NMC-alt:before {
  content: "\e956";
}
i.cc.NOTE:before {
  content: "\e957";
}
i.cc.NOTE-alt:before {
  content: "\e958";
}
i.cc.NVC:before {
  content: "\e959";
}
i.cc.NVC-alt:before {
  content: "\e95a";
}
i.cc.NXT:before {
  content: "\e95b";
}
i.cc.NXT-alt:before {
  content: "\e95c";
}
i.cc.OK:before {
  content: "\e95d";
}
i.cc.OK-alt:before {
  content: "\e95e";
}
i.cc.OMNI:before {
  content: "\e95f";
}
i.cc.OMNI-alt:before {
  content: "\e960";
}
i.cc.OPAL:before {
  content: "\e961";
}
i.cc.OPAL-alt:before {
  content: "\e962";
}
i.cc.PIGGY:before {
  content: "\e963";
}
i.cc.PIGGY-alt:before {
  content: "\e964";
}
i.cc.PINK:before {
  content: "\e965";
}
i.cc.PINK-alt:before {
  content: "\e966";
}
i.cc.POT:before {
  content: "\e967";
}
i.cc.POT-alt:before {
  content: "\e968";
}
i.cc.PPC:before {
  content: "\e969";
}
i.cc.PPC-alt:before {
  content: "\e96a";
}
i.cc.QRK:before {
  content: "\e96b";
}
i.cc.QRK-alt:before {
  content: "\e96c";
}
i.cc.RBIES:before {
  content: "\e96d";
}
i.cc.RBIES-alt:before {
  content: "\e96e";
}
i.cc.RBT:before {
  content: "\e96f";
}
i.cc.RBT-alt:before {
  content: "\e970";
}
i.cc.RBY:before {
  content: "\e971";
}
i.cc.RBY-alt:before {
  content: "\e972";
}
i.cc.RDD:before {
  content: "\e973";
}
i.cc.RDD-alt:before {
  content: "\e974";
}
i.cc.RISE:before {
  content: "\e975";
}
i.cc.RISE-alt:before {
  content: "\e976";
}
i.cc.GDC:before {
  content: "\e977";
}
i.cc.GDC-alt:before {
  content: "\e978";
}
i.cc.GEMZ:before {
  content: "\e979";
}
i.cc.GEMZ-alt:before {
  content: "\e97a";
}
i.cc.GLD:before {
  content: "\e97b";
}
i.cc.GLD-alt:before {
  content: "\e97c";
}
i.cc.GRC:before {
  content: "\e97d";
}
i.cc.GRC-alt:before {
  content: "\e97e";
}
i.cc.GRS:before {
  content: "\e97f";
}
i.cc.IFC:before {
  content: "\e980";
}
i.cc.IFC-alt:before {
  content: "\e981";
}
i.cc.IOC:before {
  content: "\e982";
}
i.cc.IOC-alt:before {
  content: "\e983";
}
i.cc.JBS:before {
  content: "\e984";
}
i.cc.JBS-alt:before {
  content: "\e985";
}
i.cc.KOBO:before {
  content: "\e986";
}
i.cc.KORE:before {
  content: "\e987";
}
i.cc.KORE-alt:before {
  content: "\e988";
}
i.cc.LBC:before {
  content: "\e989";
}
i.cc.LBC-alt:before {
  content: "\e98a";
}
i.cc.LDOGE:before {
  content: "\e98b";
}
i.cc.LDOGE-alt:before {
  content: "\e98c";
}
i.cc.LISK:before {
  content: "\e98d";
}
i.cc.LISK-alt:before {
  content: "\e98e";
}
i.cc.LTC:before {
  content: "\e98f";
}
i.cc.LTC-alt:before {
  content: "\e990";
}
i.cc.ADC:before {
  content: "\e991";
}
i.cc.ADC-alt:before {
  content: "\e992";
}
i.cc.AEON:before {
  content: "\e993";
}
i.cc.AEON-alt:before {
  content: "\e994";
}
i.cc.AMP:before {
  content: "\e995";
}
i.cc.AMP-alt:before {
  content: "\e996";
}
i.cc.ANC:before {
  content: "\e997";
}
i.cc.ANC-alt:before {
  content: "\e998";
}
i.cc.ARCH:before {
  content: "\e999";
}
i.cc.ARCH-alt:before {
  content: "\e99a";
}
i.cc.BANX:before {
  content: "\e99b";
}
i.cc.BANX-alt:before {
  content: "\e99c";
}
i.cc.BAY:before {
  content: "\e99d";
}
i.cc.BAY-alt:before {
  content: "\e99e";
}
i.cc.BC:before {
  content: "\e99f";
}
i.cc.BC-alt:before {
  content: "\e9a0";
}
i.cc.BCN:before {
  content: "\e9a1";
}
i.cc.BCN-alt:before {
  content: "\e9a2";
}
i.cc.BSD:before {
  content: "\e9a3";
}
i.cc.BSD-alt:before {
  content: "\e9a4";
}
i.cc.BTA:before {
  content: "\e9a5";
}
i.cc.BTC:before {
  content: "\e9a6";
}
i.cc.BTC-alt:before {
  content: "\e9a7";
}
i.cc.BTCD:before {
  content: "\e9a8";
}
i.cc.BTCD-alt:before {
  content: "\e9a9";
}
i.cc.BTS:before {
  content: "\e9aa";
}
i.cc.BTS-alt:before {
  content: "\e9ab";
}
i.cc.CLAM:before {
  content: "\e9ac";
}
i.cc.CLAM-alt:before {
  content: "\e9ad";
}
i.cc.CLOAK:before {
  content: "\e9ae";
}
i.cc.CLOAK-alt:before {
  content: "\e9af";
}
i.cc.DAO:before {
  content: "\e9b0";
}
i.cc.DAO-alt:before {
  content: "\e9b1";
}
i.cc.DASH:before {
  content: "\e9b2";
}
i.cc.DASH-alt:before {
  content: "\e9b3";
}
i.cc.DCR:before {
  content: "\e9b4";
}
i.cc.DCR-alt:before {
  content: "\e9b5";
}
i.cc.DGB:before {
  content: "\e9b6";
}
i.cc.DGB-alt:before {
  content: "\e9b7";
}
i.cc.DGD:before {
  content: "\e9b8";
}
i.cc.DGX:before {
  content: "\e9b9";
}
i.cc.DMD:before {
  content: "\e9ba";
}
i.cc.DMD-alt:before {
  content: "\e9bb";
}
i.cc.DOGE:before {
  content: "\e9bc";
}
i.cc.DOGE-alt:before {
  content: "\e9bd";
}
i.cc.EMC:before {
  content: "\e9be";
}
i.cc.EMC-alt:before {
  content: "\e9bf";
}
i.cc.ERC:before {
  content: "\e9c0";
}
i.cc.ERC-alt:before {
  content: "\e9c1";
}
i.cc.ETC:before {
  content: "\e9c2";
}
i.cc.ETC-alt:before {
  content: "\e9c3";
}
i.cc.ETH:before {
  content: "\e9c4";
}
i.cc.ETH-alt:before {
  content: "\e9c5";
}
i.cc.FC2:before {
  content: "\e9c6";
}
i.cc.FC2-alt:before {
  content: "\e9c7";
}
i.cc.FCT:before {
  content: "\e9c8";
}
i.cc.FCT-alt:before {
  content: "\e9c9";
}
i.cc.FRK:before {
  content: "\e9ca";
}
i.cc.FRK-alt:before {
  content: "\e9cb";
}
i.cc.FTC:before {
  content: "\e9cc";
}
i.cc.FTC-alt:before {
  content: "\e9cd";
}

